.nav {
    background-color: rgb(55, 53, 50);
    display: flex;
    padding-right: 30px;
    justify-content: end;
    align-content: flex-end;
}

.link {
    text-decoration: none;
    color: #ece7e7;
    cursor: pointer;
}

.link:hover {
    color: #c7c1c1;
}

.avatar {
    height: 40px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

.min-vh-20 {
    min-height: 20vh;
}

.min-vh-80 {
    min-height: 80vh;
}

.min-vh-50 {
    min-height: 50vh;
}